.admin {

  ul.admin-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li.navbar-title {
      float: left;
    }

    li.navbar-link {
      margin-top: 2rem;
      float: right;
    }

    li > a {
      display: block;
      padding: 1rem;
      border: 1px black;
    }
  }

  div.content {
    margin-top: 3rem;
  }
}
