.cinema-select {
  .cinema-select-form {
    display: flex;

    .selection-container {
      flex: 1 0 auto;
      height: 60px;
      box-sizing: border-box;
      margin-right: 8px;
    }

    .submit-button {
      flex: 0 0 auto;
      height: 60px;
      width: 60px;
      font-size: 40px;
      line-height: 40px;
      box-sizing: border-box;
    }
  }

  .selection-container {
    border: 2px solid $primary-colour;
    overflow: hidden;
    background: $background-colour;

    &:hover {
      background: darken($background-colour, 20);
    }

    select {
      padding: 4px 8px;
      width: 100%;
      height: 100%;
      border: none;
      box-shadow: none;
      background: transparent;
      background-image: none;
      -webkit-appearance: none;
      -moz-appearance: none;

      font-family: $paragraph-font;
      font-size: 1.5rem;
      line-height: 40px;

      color: $primary-colour;

      &:focus {
        outline: none;
      }
    }
  }

  .submit-button {
    background: $background-colour;
    color: $primary-colour;
    border: 2px solid $primary-colour;

    &:hover {
      background: darken($background-colour, 20);
      color: darken($primary-colour, 20);
    }
  }
}
