.seat-select {
  margin-top: 28px;

  border: 2px solid $primary-colour;

  display: flex;
  flex-direction: column;

  .title-section {
    background: $primary-colour;
    color: $background-colour;
  }

  .selection-section {
    padding: 28px;
    display: flex;
    justify-content: space-around;
    background: lighten($primary-colour, 30);
  }

  .seats {
    flex: 0 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    .screen {
      width: 100%;
      padding: 4px;
      margin-bottom: 4px;
      background: lighten($background-colour, 20);
      color: $primary-colour;

      border: 2px solid lighten($primary-colour, 10);
      box-sizing: border-box;
    }
    .row {
      display: flex;
      flex-direction: row;
    }
  }

  .seat-container {
    padding: 4px;

    .seat {
      height: 24px;
      width: 24px;
      border: 4px solid $background-colour;
      border-radius: 4px;
      padding: 0;
      box-sizing: border-box;
      background: $background-colour;
    }

    .booked {
      background: $secondary-colour;
      border-color: $secondary-colour;

      .dot {
        display: none;
      }
    }

    // Hide the dot for free seats and show it appearing on hover
    .free {
      .dot {
        opacity: 0;
      }

      &:hover .dot {
        opacity: 0.8;
      }
    }

    .dot {
      display: inline-block;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      background: $primary-colour;
    }
  }

  .right-panel {
    flex: 1 0 auto;
    max-width: 20%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .key {
    flex: 1 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-height: 280px;

    .key-entry {
      display: flex;
      align-items: center;

      .seat-container, .label {
        flex: 0 0 auto;
      }

      .label {
        margin-left: 8px;
        color: $background-colour;
        font-size: 1.2rem;
      }
    }
  }

  .submit-button {
    flex: 0 0 auto;
    border: 2px solid $primary-colour;
    background: $background-colour;
    font-family: $title-font;
    color: $primary-colour;
    font-size: 1.8rem;

    &:hover {
      background: darken($background-colour, 20);
      color: darken($primary-colour, 20);
    }
  }
}
