/**
 * https://loading.io/css/ - lds-dual-ring
 *
 * CC0 License
 */

.spinner-container {
  text-align: center;
}

.spinner {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 48px auto;
}

.spinner:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid $primary-colour !important;
  border-color: $primary-colour transparent $primary-colour transparent !important;
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
