.errorBoundary {

  h1 {
    font-family: $title-font;
  }

  p {
    font-family: $paragraph-font;
  }

  margin: 0;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
