$background-colour: #ebebeb;
$primary-colour: #31305a;
$secondary-colour: #444444;
$highlight-colour: #f1ef52;

$title-font: 'Ink Free', cursive;
$paragraph-font: 'Calibri Light', sans-serif;

body {
  margin: 0;
  background: $background-colour;
  color: $primary-colour;
}
