.showing-select {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .showing-selection-button {
    flex: 0 0 auto;

    margin: 8px;
    padding: 4px 16px;

    border: 2px solid $primary-colour;
    border-radius: 4px;
    background: $background-colour;
    color: $primary-colour;
    font-family: $paragraph-font;
    font-size: 1.2rem;

    &:hover {
      background: darken($background-colour, 20);
      color: darken($primary-colour, 20);
    }
  }
}
