{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "rules": {
    "indent": "off",
    "linebreak-style": "off",

    "jsx-a11y/label-has-for": "id",
    "jsx-a11y/anchor-is-valid": "off",
    "react/prop-types": "off",
    "react/no-array-index-key": "off"
  }
}

